:root {
  --color-white: #FFFFFF;
  --color-grey: #E9EAEC;
  --color-grey-light: #FAFAFA;
  --color-green: #0CAF60;
  --color-green-light: #E7F7EF;
  --color-pink: #F22772;
  --color-pink-light: #FEE9F1;
  --color-yellow: #FFD023;
  --color-yellow-light: #FFFAE9;
  --color-purple: #8C62FF;
  --color-purple-light: #F4EFFF;
  --color-black: #21252B;
}